/* Estilos gerais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4B0082;
    padding: 10px 20px;
}

.profile, .settings, .logo {
    display: flex;
    align-items: center;
}

.profile img, .settings img, .logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile span {
    margin-left: 10px;
}

.search-bar {
    text-align: center;
    margin: 20px 0;
}

.search-bar input {
    width: 80%;
    padding: 10px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #4B0082;
    color: white;
}

section {
    margin: 20px;
}

h2 {
    margin-bottom: 10px;
}

.cards, .artists {
    display: flex;
    gap: 10px;
}

.cards img, .artists img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.popular-artists{
    justify-content: center;
}
